.header{
    text-align: center;
}

.important{
    text-align: right;
    font-size: 12pt;
    color: #ff0404;
    font-style: italic;
}

.button{
    float: right;
}

.error{
    color: #ff0404;
    font-style: italic;
    font-size: 10pt;
}